@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i&display=swap');

body {
    color: rgb(236, 215, 208);
    background-color: rgb(51, 46, 46);
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    box-shadow: 0px 2px 4px rgb(241, 141, 27);

}
header h1 {
    font-weight: 400;
    font-style: italic;
    font-size: 2.2em;
    margin: 0;
}
footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 15px;
    align-items: center;
    border-top: 1px solid rgb(241, 141, 27);
}
a {
    text-decoration: none;
}
a h3{
    color: rgb(236, 215, 208);
    border-radius: 0.15em;
    padding: 0.35em;
    margin-left: 0.3em;
    border: 1px solid rgb(236, 215, 208);
}
a h3:hover{
    background-color: rgb(236, 215, 208);
    color: rgb(51, 46, 46);
    border-radius: 0.15em;
    padding: 0.35em;
    border: 1px solid rgb(236, 215, 208);
}
input {
    width: 93%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    border-radius: 0.3em;
    border: 0.09em solid black;
    padding: 0.6em;
    background: rgb(236, 215, 208);
    margin: 0 0 2px;
    box-shadow: inset 0 0 0.5em black;
}
input:hover {
    border-color: #888;
}
input:focus {
    border-color: rgb(236, 215, 208);
    box-shadow: 0 0 1px 3px rgba(241, 141, 27, 0.822);
    color: black; 
    outline: none;
}
select {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    border-radius: 0.3em;
    border: 0.09em solid black;
    padding: 0.6em;
    background: rgb(236, 215, 208);
    margin: 0 0 2px;
    box-shadow: inset 0 0 0.5em black;
    line-height: 1em;
    -webkit-appearance: none; 
    -moz-appearance: none;
    /* appearance: none; */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
select:hover {
    border-color: #888;
}
 select:focus {
    border-color: rgb(236, 215, 208);
    box-shadow: 0 0 1px 3px rgb(241, 141, 27);
    box-shadow: 0 2px 4px -moz-mac-focusring;
    color: black; 
    outline: none;
}
button {
    background-color: rgb(51, 46, 46);
    font-family: 'Ubuntu', sans-serif;
    color: rgb(236, 215, 208);
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid rgb(236, 215, 208);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.25em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}
button:hover{
    color: rgb(51, 46, 46);
    background-color: rgb(236, 215, 208);
}
/* @media all and (max-width:30em){
    button{
        display: block;
        margin: 0.4em auto;
    }
} */
ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0.5em;
    padding-inline-start: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
}
li {
    border-radius: 3px;
    background: black;
    padding: 0 10px;
    overflow: hidden;
    margin-bottom: 2px;
    line-height: 2.5;
    display: flex;
    justify-content: space-between;
}

ul .new-item {
    background: black;
    max-height: 0;
    opacity: 0;
    transform: translateX(-300px);
    animation: 
        openSpace 0.2s ease forwards,
        moveIn 0.3s 0.2s ease forwards;
}
@keyframes openSpace {
    to { 
        max-height: 50px;
    }
}
@keyframes moveIn {
    to { 
        opacity: 1;
        transform: translateX(0);
    }
}

#main-container {
    display: flex;
    flex-direction: column;
}
.sub-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2%;
    justify-content: space-around;
}
.component-container {
    box-shadow: -7px 0px 3px -5px rgb(241, 141, 27);
    /* border-left: 1px solid rgb(241, 141, 27); */
    padding: 10px 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-width: 35vw;
    min-width: 20vw;
}
.splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    justify-content: center;
}
.splash-container h2 {
    font-size: 3em;
    font-style: italic;
    margin: 1em;
}
.splash-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
}
.splash-component h2 {
    font-size: 3em;
    font-style: italic;
    margin: 1em;
}
.component-list {
    margin-top: 13px;
    padding: 10px 10px;
    box-shadow: 0px 0px 10px black;
    border-radius: 3px;
}
.metric {
    margin-top: 13px;
    padding: 10px 10px;
    box-shadow: inset 0px 0px 10px black;
    border-radius: 3px;
}
.timer {
    margin-top: 13px;
    padding: 10px 10px;
    box-shadow: 0px 0px 10px black;
    border-radius: 3px;
    max-height: 0;
    opacity: 0;
    transform: translateX(300px);
    animation: 
        openSpace3 0.2s ease forwards,
        moveIn3 0.3s 0.2s ease forwards;
}
@keyframes openSpace3 {
    to { 
        max-height: 100%;
    }
}
@keyframes moveIn3 {
    to { 
        opacity: 1;
        transform: translateX(0);
    }
}
.time {
    border-radius: 3px;
    background: black;
    padding: 0 10px;
    margin-bottom: 2px;
    line-height: 2.5;
}
.delete {
    cursor: pointer;
    display: inline-block;
}
.clickable {
    cursor: pointer;
}
.horizontal-row {
    display: flex;
    flex-direction: row;
}
form {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    max-height: 0;
    opacity: 0;
    transform: scale(0);
    animation: 
        openSpace2 0.2s ease forwards,
        moveIn2 0.3s 0.1s ease forwards;
}
@keyframes openSpace2 {
    to { 
        max-height: 100%;
    }
}
@keyframes moveIn2 {
    to { 
        opacity: 1;
        transform: scale(1);
    }
}
.reverse-column {
    display: flex;
    flex-direction: column-reverse;
}








/* reset */
h1 {
    font-size: 1.6em;
    display: block;
    margin: 0.25em 0;
    font-weight: 400;
}
h3 {
    display: block;
    margin: 0.25em 0;
    font-weight: normal;
}
