@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i&display=swap');

body {
    color: rgb(236, 215, 208);
    background-color: rgb(51, 46, 46);
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    /* border-bottom: 2px solid rgb(241, 141, 27); */
    box-shadow: 0px 2px 4px rgb(241, 141, 27);

}
header h1 {
    font-weight: 400;
    font-style: italic;
    font-size: 2.2em;
    margin: 0;
}
footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 15px;
    align-items: center;
    border-top: 1px solid rgb(241, 141, 27);
}
form {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
input {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    border-radius: 0.3em;
    border: 0.09em solid black;
    padding: 0.6em;
    background: rgb(236, 215, 208);
    margin: 0 0 2px;
    box-shadow: inset 0 0 0.5em black;
}
button {
    background-color: rgb(51, 46, 46);
    font-family: 'Ubuntu', sans-serif;
    color: rgb(236, 215, 208);
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid rgb(236, 215, 208);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.25em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}
button:hover{
    color: rgb(51, 46, 46);
    background-color: rgb(236, 215, 208);
}
/* @media all and (max-width:30em){
    button{
        display: block;
        margin: 0.4em auto;
    }
} */
ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0.5em;
    padding-inline-start: 0;
    overflow: hidden;
}
li {
    border-radius: 3px;
    background: black;
    padding: 0 10px;
    overflow: hidden;
    margin-bottom: 2px;
    line-height: 2.5;
}

ul .new-item {
    background: black;
    max-height: 0;
    opacity: 0;
    transform: translateX(-300px);
    animation: 
        openSpace 0.2s ease forwards,
        moveIn 0.3s 0.2s ease forwards;
}
@keyframes openSpace {
    to { 
        max-height: 50px;
    }
}
@keyframes moveIn {
    to { 
        opacity: 1;
        transform: translateX(0);
    }
}

#main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sub-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2%;
    justify-content: space-around;
}
.component-container {
    box-shadow: -7px 0px 3px -5px rgb(241, 141, 27);
    /* border-left: 1px solid rgb(241, 141, 27); */
    padding: 10px 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}
.splash h2 {
    font-size: 4.5em;
    font-style: italic;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
.component-list {
    margin-top: 13px;
    padding: 10px 10px;
    box-shadow: 0px 0px 10px black;
    border-radius: 3px;
}
.timer {
    margin-top: 13px;
    padding: 10px 10px;
    box-shadow: 0px 0px 10px black;
    border-radius: 3px;
}
.time {
    border-radius: 3px;
    background: black;
    padding: 0 10px;
    margin-bottom: 2px;
    line-height: 2.5;
}
.clickable {
    cursor: pointer;
}







/* reset */
h1 {
    font-size: 1.6em;
    display: block;
    margin: 0.25em 0;
    font-weight: 400;
}
h3 {
    display: block;
    margin: 0.25em 0;
    font-weight: normal;
}
